.wrapper {
}
.displayAndNote{
  background: var(--overlay-bg);
  padding: 4px 8px;
  margin-bottom: 4px;
  border-top: 1px solid var(--button-border-color);
  .display{
    padding: 8px 0px;
    font-size: 18px;
    font-family: inherit;
    text-align: right;
  }
  .note {
    padding: 6px 4px;
    background-color: #ddd;
    border-radius: var(--input-radius);
    display: flex;
    align-items: baseline;
    font-size: 14px;
    input {
      border: none;
      flex-grow: 1;
      background: transparent;
      font-family: inherit;
      margin-left: 4px;
      max-width: 100%;
      // &.error {
      //   border-color: var(--error-color);
      // }
    }
  }
}
.dateAndAmount {
  background: var(--overlay-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-family: monospace;
  border-top: 1px solid var(--button-border-color);
  > .date {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--date-text);
    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      fill: var(--amount-text);
    }
  }
  > .amount {
    font-size: 20px;
    color: var(--amount-text);
  }
}
.buttons {
  display: grid;
  grid-template-areas:
    "n1 n2 n3 n4"
    "n5 n6 n7 n8"
    "n9 n10 n11 n12"
    "n13 n14 n15 n16";
  grid-auto-rows: 48px;
  grid-auto-columns: 1fr;
  // gap: 1px;
  flex-wrap: wrap;
  background: var(--button-border-color);
  // border-top: 1px solid var(--button-border-color);
  > button {
    border: 1px solid var(--button-border-color); /* 这将为每个按钮添加边框 */
    background: var(--number-button-bg);
    &:nth-child(2n) {
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    &:nth-child(2n+1) {
      border-bottom: none;
    }
    &:nth-child(13),&:nth-child(14),&:nth-child(15),&:nth-child(16){
      border-bottom: 1px solid var(--button-border-color);
    }
    &:nth-child(16) {
      border-top: none;
      border-bottom: none;
      background: var(--number-button-bg-important);
      color: var(--number-button-text-important);
    }
    &.smallTime{
      font-size: 12px;
    }
  }
}
