.button {
  border: 1px solid var(--button-bg);
  background: var(--button-bg);
  color: var(--button-text);
  font-size: var(--button-font-size);
  width: 100%;
  border-radius: var(--button-radius);
  padding: 8px 16px;
  height: var(--button-height);

  &.normal {}

  &.important {}

  &.danger {
    background: var(--button-bg-danger);
    border-color: var(--button-bg-danger);
  }

  &:hover {
    background: var(--button-bg-hover);
    color: var(--button-text-hover);
  }
}
