.floatButton{
  border: 1px solid var(--button-bg);
  background: var(--button-bg);
  color: var(--button-text);
  font-size: var(--button-font-size);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 16px;
  bottom: 16px;
  .icon{
    width: 24px;
    height: 24px;
    fill:var(--float-button-text);
  }
  &:hover{
    background: var(--button-bg-hover);
    color: var(--float-button-text);
  }
}
